[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:songxingling1/sxlnvim.git
[submodule ".local/share/fcitx5/rime"]
	path = .local/share/fcitx5/rime
	url = git@github.com:songxingling1/rime-config.git
